#  Feature Engineering

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

#Importing Dataset From MYSQL 
engine = create_engine('mysql+pymysql://root:1234@localhost/product_analysis_db')
query = "SELECT * FROM product_analysis"
phones = pd.read_sql(query, engine)
print(f"Successfully loaded {len(phones)} rows from MySQL.")
phones.head()

Successfully loaded 938 rows from MySQL.

,Brand,Model,Price_INR,Cost_INR,Profit_INR,Storage_GB,RAM_GB,Battery_mAh,Screen_Size_Inch,Camera_MP,...,Country,Launch_Date,Warranty_Years,Discount_Percent,Return_Rate_Percent,Profit_Margin,Avg_Price,Total_Units_Sold,Total_Profit,Avg_Rating
0,apple,iphone 12,71738.0,54724.0,17014.0,512.0,4.0,3577.0,6.6,12,...,antigua and barbuda,2021-12-19,2,0.0,7.14,23.72,71738.0,135714.0,17014.0,4.6
1,apple,iphone 12,88817.0,52535.0,36282.0,128.0,6.0,3894.0,6.4,12,...,san marino,2021-12-28,2,6.0,5.63,40.85,0.0,276991.0,16593.0,4.1
2,apple,iphone 12,104612.0,84718.0,19894.0,256.0,6.0,4213.0,6.5,12,...,guinea-bissau,2022-01-02,2,0.0,4.43,19.02,104612.0,103350.0,19894.0,4.2
3,apple,iphone 12,89844.0,71587.0,18257.0,64.0,8.0,4213.0,6.7,48,...,venezuela,2022-01-25,2,12.0,7.54,20.32,89844.0,90821.0,18257.0,4.7
4,apple,iphone 12,89943.0,43050.0,46893.0,64.0,4.0,3531.0,6.0,48,...,unknown,2022-02-02,2,14.0,4.11,52.14,89943.0,319428.0,46893.0,4.4

In [2]:
# Create a new column called Brand_Code
phones['Brand_Code'] = phones['Brand'].astype('category').cat.codes

In [3]:
# Convert the date and pull out just the month number (1-12)
phones['Launch_Date'] = pd.to_datetime(phones['Launch_Date'])
phones['Launch_Month'] = phones['Launch_Date'].dt.month

In [4]:
final_columns = ['Price_INR', 'RAM_GB', 'Storage_GB', 'Battery_mAh', 
                 'Profit_Margin', 'Brand_Code', 'Launch_Month']

model_ready_df = phones[final_columns]

# Save as a CSV so Phase 7 is faster to run
model_ready_df.to_csv('../01_data/model_ready_data.csv', index=False)
print("Phase 6 Complete! Dataset is ready for Machine Learning.")

Phase 6 Complete! Dataset is ready for Machine Learning.

## Feature Engineering Insights
Using Existing Features: I utilized the existing Profit_Margin column to help the model understand the relationship between cost and profit.

Brand Encoding: Converted categorical brand names into Brand_Code so the Machine Learning model can process them as numbers.

Time Analysis: Extracted Launch_Month from the date to identify seasonal trends in phone pricing.
 Model Readiness: Selected only the most relevant numeric features to ensure the model in Phase 7 is accurate and efficient.